nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgb(82, 82, 82);

  backdrop-filter: blur(4vh);
  height: 44px;
  line-height: 20px;
  align-items: center;
}


nav a { 
  display: block; 
  padding: 10px 20px; 
  text-decoration: none; 
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  font-size: 11px;
  
} 