/*
nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgb(82, 82, 82);

  backdrop-filter: blur(4vh);
  height: 44px;
  line-height: 20px;
  align-items: center;
}


nav a { 
  display: block; 
  padding: 10px 20px; 
  text-decoration: none; 
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  font-size: 11px;
  
} 
*/


/* STANDARDS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

html {
  font-size: 100%;
  font-size: 10px;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

h5 {
  font-size: 25px;
  font-weight: 600;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.p_ultra_mini {
  font-size: 12px;
  text-decoration: none;
  color: white;
}

.p_mini {
  font-size: 14px;
  color: #bdbdbd;
}

.p_big {
  font-size: 20px;
  font-weight: 700;
}

.a-medium {
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.pil {
  border: solid #363636;
  border-width: 0 0.3rem 0.3rem 0;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  padding: 0.3rem;
  transform: rotate(-45deg);
}


.button-standard {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.6em;
  background-color: #cccccc;
  width: max-content;
}
/**/

/* NAVBAR */
nav {
  background-color: #b1b1b1;
  display: flex;
  align-items: center;
  min-height: 4rem;
}

.nav_logo {
  display: flex;
  margin-left: 1.5rem;
}

.nav-hamburger_menu {
  display: flex;
  margin-left: auto;
  margin-right: 1.5rem;
  width: 3rem;
  height: 3rem;
  background-color: antiquewhite;
}

/**/

/* HERO SECTION */
.hero_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.div-hero_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
  margin-top: 4.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 4.5rem;
  max-width: 120rem;
}

.text-div-hero_section {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: fit-content;
}

.bild-hero_section {
  width: 40rem;
  display: block;
}

@media screen and (max-width: 47rem) {
  .bild-hero_section {
    display: none;
  }
}
/**/

/* DEFINITION */
.definition_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div-definition_section {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  margin-top: 4.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 4.5rem;
}

.div-definition_section-img {
  width: 40rem;
  display: block;
}

@media screen and (max-width: 47rem) {
  .div-definition_section-img {
    display: none;
  }
}

/**/

/* EXAMPLE */
.example_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.div-example_section {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2.5rem;
  margin-top: 4.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 4.5rem;
}

.text-exampleSection {
  background-color: #9e9e9e;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.boxes-example_section {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

@media screen and (min-width: 47rem) {
    .boxes-example_section {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
  }
}

/**/

/* ARTICLES */

.articles_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.div-articles_section {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 4.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 4.5rem;
  flex-wrap: wrap;
}

.h2-articles_section {
  text-align: center;
}

.text-articles_section {
  background-color: #b1b1b1;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
  max-width: 55rem;

}

.bild-articles_section {
  background: url(images/censur\ ryssland.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 20rem;
}

/**/

/* FOOTER */

footer {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: row;
}

.div-footer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 4.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  justify-content: space-between;
}

.size_div-footer {
  width: 120rem;
}

@media screen and (min-width: 50rem) {
  .div-footer {
    flex-direction: row;
  }

  footer {
    justify-content: center;
  }
}

.footer-logotyp {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;

}

.a-footer {
  font-size: 16px;
  text-decoration: 0;
  color: white;
}

.footer_sections {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.line-footer {
  height: 0.2rem;
  background-color: #b1b1b1;
  width: 100%;
}

.bottom-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2.5rem;
  margin-bottom: 4.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
